@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@source "../../node_modules/@heroui/react/dist/**/*.{js,ts,jsx,tsx}";

@utility skeleton {
  animation: 1.8s ease-in-out infinite daisy-skeleton;
}

@keyframes daisy-skeleton {
  0% {
    background-position: 150%;
  }
  to {
    background-position: -50%;
  }
}

/* Fix styling collision between HeroUI and DaisyUI on .radio class */
.radio:not(input) {
  display: flex !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  appearance: auto !important;
}

.radio:not(input)::before,
.radio:not(input)::after {
  content: none !important;
  display: none !important;
}