@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@utility skeleton {
  animation: 1.8s ease-in-out infinite daisy-skeleton;
}

@keyframes daisy-skeleton {
  0% {
    background-position: 150%;
  }
  to {
    background-position: -50%;
  }
}